+b.FOOTER.footer
    +e.wrapper.wrapper
        +e.col
            .col.col-1.col-mb-3
                //- +e.logo
                //-     img(src="/assets/images/logo/main-logo.png", alt="logo")
            .col.col-3.col-mb-3
                //- | col-2
            .col.col-2.col-mb-3
                +b.mediaLinks
                    +e.UL.list
                        span Мы в социальных сетях
                        +e.LI.item
                            +e.A(href="#").link.link-whatsUp
                        +e.LI.item
                            +e.A(href="#").link.link-instagram
                        +e.LI.item
                            +e.A(href="#").link.link-facebook
