+b.HEADER.header
    +e.wrapper.wrapper
        +e.col
            .col.col-4.col-tb-1.col-mb-3
                +b.add-user
                    +e.A(href="#").link.btn.btn__add Добавить пациента
            .col.col-2.col-tb-3.col-mb-3
                +b.search-user
                    +e.FORM(action="#" method="post").form
                        +e.INPUT.input
                        +e.BUTTON.search.btn.btn__search Поиск