+b.NAV.mobile-menu
    ul
        li
            a(href="index.html") Проверка пользователя
        li
            a(href="user-registration.html") Регистрация
        li
            a(href="user-list.html") Список пациентов
        li
            a(href="user-full.html") Страница пациента
        li
            +e.level
                +e.left
                    +e.arrow
                +e.right
                    a(href="#") Пусто
            ul
                li
                    a(href="#") Пусто
                li
                    a(href="#") Пусто
        li
            +e.level
                +e.left
                    +e.arrow
                +e.right
                    a(href="#") Пусто
            ul
                li
                    a(href="#") Пусто
                li
                    a(href="#") Пусто, Пусто, Очень пусто
                li
                    +e.level
                        +e.left
                            +e.arrow
                        +e.right
                            a(href="#") Пусто же!
                    ul
                        li
                            a(href="#") И тут пусто
                        li
                            a(href="#") Пусто...
                        li
                            +e.level
                                +e.left
                                    +e.arrow
                                +e.right
                                    a(href="#") Аха!...Пусто
                            ul
                                li
                                    a(href="#") Пусто
                                li
                                    a(href="#") Пусто
                                li
                                    +e.level
                                        +e.left
                                            +e.arrow
                                        +e.right
                                            a(href="#") Может тут ?
                                    ul
                                        li
                                            a(href="#") Пусто!
                                        li
                                            a(href="#") ПустоПустоПусто
        li
            a(href="#") Что-то