
// Стандартная "transition-timing-function"
$time = 0.35s ease-in-out 0ms

// ====== Медиа размеры (учитываем $sidePadding)
$large   = 1920px
$desktop = 1200px

$tablet  = 768px

$iphoneVI = 414px
$iphone   = 320px

$point-1 = 1200px
$point-2 = 768px
