// ====== Подключение шрифтов
//
// 1. Имена папок должны быть написаны исключительно латиницей без пробелов и любых других символов
// 2. Файлы шрифтов пишутся строчными буквами с постфиксом через минус
// 3. Формат шрифта подключать один, если формат "ttf", "otf" или лучше всего "woff"
// (смотря какой будет в макете или легче найти, т.к шрифты должны прилагаться дизайнером)
//
// Примеры: "fonts/roboto/roboto-regular.ttf", "fonts/helveticanuecondensed/helveticanuecondensed-bold.woff"

// 100: Thin, Hairline, Ultra-light, Extra-light
// 200: Light
// 300: Book
// 400: Regular, Normal, Plain, Roman, Standard
// 500: Medium
// 600: Semi-bold, Demi-bold
// 700: Bold
// 800: Heavy, Black, Extra-bold
// 900: Ultra-black, Extra-black, Ultra-bold, Heavy-black, Fat, Poster

// ====== roboto
@font-face
    font-family 'ubuntu'
    src url('../fonts/ubuntu/ubuntu-regular.ttf')
    font-weight 400

@font-face
    font-family 'ubuntu'
    src url('../fonts/ubuntu/ubuntu-medium.ttf')
    font-weight 500

@font-face
    font-family 'ubuntu'
    src url('../fonts/ubuntu/ubuntu-bold.ttf')
    font-weight 700

@font-face
    font-family 'oswald'
    src url('../fonts/oswald/oswald-regular.ttf')
    font-weight 400
@font-face
    font-family 'oswald'
    src url('../fonts/oswald/oswald-medium.ttf')
    font-weight 500

