.footer
    // 
    &__logo
        width 100%
        & img
            width 120px
    &__col
        padding 32px 0
        font-size 0



// MEDIA LINKS
.mediaLinks
    // 
    &__list
        text-align right
        & span
            display block
    &__item
        display inline-block
        padding 3px
    &__link
        display inline-block
        width 35px
        height 35px
        transition all 0.23s ease-in-out
        &:hover
            transform scale(1.08)

.link
    // 
    &-whatsUp
        background url("../images/icons/whatsapp.png") 50% no-repeat
        background-size cover
    &-instagram
        background url("../images/icons/instagram.png") 50% no-repeat
        background-size cover
    &-facebook
        background url("../images/icons/facebook.png") 50% no-repeat
        background-size cover
